.searched {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    justify-content: center;
    padding: 0 5rem;
}

.searched__wrapper {
    margin: 0 auto;
    width: 20rem;
}

.searched__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 880px) {
    .searched {
        padding: 0 2rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    .searched__wrapper {
        width: 15rem;
    }
}
