.searched {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    justify-content: center;
    padding: 0 15rem;
}

.searched__wrapper {
    width: 20rem;
}

.searched__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
