.recipe {
    padding: 2rem;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.recipe__wrapper {
    margin-right: 5rem;
}

.recipe__descr {
    width: 50rem;
}

.recipe__descr a {
    text-decoration: none;
    color: #000;
}

.recipe__descr a:hover {
    text-decoration: underline;
}

.recipe__wrapper__button {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.recipe__button {
    margin: 0 1rem;
    border: 1px solid #000;
    background-color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.5s all;
}

.recipe__star {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s all;
}

.recipe__star_active {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(19, 163, 0);
    cursor: pointer;
    transition: 0.5s all;
}

.recipe__star:hover {
    border: none;
    background-color: rgb(19, 163, 0);
}

.recipe__star:hover svg g,
.recipe__star_active svg g {
    fill: rgb(255, 255, 255);
    transition: 0.2s all;
}

.recipe__button:hover,
.recipe__button_active {
    border: none;
    background-color: #000;
    color: #fff;
}

@media (max-width: 1200px) {
    .recipe {
        flex-direction: column;
        margin-top: 0;
    }
    .recipe__wrapper {
        margin: 0 auto;
    }

    .recipe__descr {
        width: 100%;
        margin: 2rem auto;
    }

    .recipe__wrapper__button {
        text-align: center;
    }

    .recipe img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .recipe__button {
        padding: 1rem;
        margin: 0 0.3rem;
    }
}
