.header {
    padding: 1rem 10rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link a {
    text-decoration: none;
    color: #fff;
    margin: 0 0.5rem;
}

.header__link button {
    text-decoration: none;
    color: #000;
    padding: 0.3rem 1rem;
    margin-left: 1rem;
    background-color: rgb(212, 212, 212);
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

.header__link button:hover {
    background-color: rgb(255, 255, 255);
}

.header__link a:hover {
    text-decoration: underline;
}
