.signup {
    padding: 2rem 15rem;
}

.signup h2 {
    text-align: center;
    font-size: 2rem;
}

.signup__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 2rem;
    width: 25rem;
    min-height: 15rem;
    background-color: rgb(57, 255, 189);
}

.signup__form h4 {
    margin: 0;
    font-size: 1.2rem;
}

.signup__input {
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    background-color: #fff;
}

.signup__button {
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
}

.signup__button:hover {
    background-color: #000;
    color: #fff;
}

.error {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    background-color: rgb(253, 104, 104);
    width: 20rem;
    margin: 2rem auto;
}
