.popular,
.vegetarian {
    padding: 2rem 15rem;
}

.popular__title,
.vegetarian__title {
    font-size: 1.5rem;
}

@media (max-width: 1350px) {
    .popular,
    .vegetarian {
        padding: 1rem 2rem;
    }
}

@media (max-width: 640px) {
    .popular__title,
    .vegetarian__title {
        text-align: center;
    }
}
